---
layout: archive
title: "Curriculum"
permalink: /curriculum/
author_profile: true
---
<script>
//begin{script de expansão de texto, não apagar!
function expandir(exp){
if(document.getElementById(exp).style.display== "none"){
document.getElementById(exp).style.display = "block";
}
else {
document.getElementById(exp).style.display = "none"
}
}
</script>

<h3>Graduação</h3>

<li> 2017: Graduação em Andamento em Bacharelado em Matemática Industrial - UFPR;</li>
<li> 2015 - 2016: Graduação Interrompida em Matemática - UNESPAR;</li>

<h3>Pesquisa/Apresentações:</h3>
<li> Apresentou um Seminário Henri Poincaré na UFPR com o título: "<a onclick="expandir('s7');">Curvas de Bézier e Polinômios de Bernstein - Gustavo Sarturi</a>
<span id="s7" style="display: none; ">Bolsista Pesquisador do PET Matemática (UFPR)<br> Bacharelando em Matemática Industrial<br><br>
Algumas técnicas de modelagem de curvas interpolam um conjunto de pontos dado, o que significa que a curva passará exatamente por esses pontos. As técnicas de interpolação possuem uma desvantagem quando incorporadas em CAD, pois não temos uma forte intuição de como mudar ou controlar a forma da curva, podemos mudar um ou mais pontos de interpolação, mas, isso pode gerar algo inesperado e até mesmo indesejável. 
Com o objetivo de modelar uma curva da qual podemos ter total controle sob a sua forma é que introduzimos as Curvas de Bézier que possuem como base os Polinômios de Bernstein, ou seja, serão introduzidos pontos de controles e através deles podemos manipular as curvas livremente, tais curvas possuem aplicação imediata na animação, design, computação gráfica e na indústria automobilística.<br>
<br>Anfiteatro B, Bloco PC - Centro Politécnico UFPR<br>
22/05/2018, 19:00 hrs<br><br>
</span>" - 22/05/2018;</p>

<h3>Eventos</h3>
<li> Organizou o evento: "J3M 2017 - Jornada de Matemática, Matemática Aplicada e Educação Matemática" juntamente com demais membros do grupo PET - Matemática UFPR;</li>
<li> Organizou o evento: "SMAT - Semana da Matemática UFPR" em Abril/2018 juntamente com demais membros do grupo PET - Matemática UFPR;</li>
<li> Organizou o evento: "XIV Brincando de Matemático - Um passeio pela teoria dos grafos" em Julho/2018 juntamente com demais membros do grupo PET - Matemática UFPR;</li>
<li> Organizou o evento: "FOZ 2018 - Mathematics and it's aplications: A ICM Satellite event", que incluiu os seguintes eventos:
  <p>XII Brazilian Workshop on Continuous Optimization,</p>
  <p>the 4th Brazil-China Symposium on Applied and Computational Mathematics,</p>
  <p>the Conference BRICS on Mathematics and the</p>
  <p>International Conference on Industrial Mathematics</p>
  <p> em Foz do Iguaçu - PR - Brazil, entre os dias 23 a 27 de Julho de 2018.</p></li>
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

