---
layout: archive
title: "Curriculum"
permalink: /curriculum/
author_profile: true
---
<h3>Idiomas</h3>
<li>Língua Inglesa - Nível C1</li>
<li>Chinês Simplificado - Nível A1</li>
<h3>Habilidades</h3>
<li>Linguagens de Programação/Formatação: LaTeX, HTML, PHP, CSS, C, C++, Julia, Pascal, Python;</li>
<li>Pacote Adobe: After Effects, Dreamweaver, Photoshop, Illustrator, InDesign, XD;</li>
<h3>Graduação</h3>

<li> 2017: Graduação em Andamento em Bacharelado em Matemática Industrial - UFPR;</li>
<li> 2015 - 2016: Graduação Interrompida em Matemática - UNESPAR;</li>

<h3>Pesquisa/Apresentações:</h3>
<li> 22/05/2018 - Apresentou um Seminário Henri Poincaré na UFPR com o título: "Curvas de Bézier e Polinômios de Bernstein"</li>

<h3>Eventos</h3>
<li> Novembro/2017 - Organizou o evento: "J3M 2017 - Jornada de Matemática, Matemática Aplicada e Educação Matemática" juntamente com demais membros do grupo PET - Matemática UFPR;</li>
<li> Abril/2018 - Organizou o evento: "SMAT - Semana da Matemática UFPR" juntamente com demais membros do grupo PET - Matemática UFPR;</li>
<li> Julho/2018 - Organizou o evento: "XIV Brincando de Matemático - Um passeio pela teoria dos grafos" juntamente com demais membros do grupo PET - Matemática UFPR;</li>
<li> Julho/2018 - Organizou o evento: "FOZ 2018 - Mathematics and it's aplications: ICM Satellite event", que incluiu os seguintes eventos:
  XII Brazilian Workshop on Continuous Optimization,the 4th Brazil-China Symposium on Applied and Computational Mathematics,
  the Conference BRICS on Mathematics and the International Conference on Industrial Mathematics em Foz do Iguaçu - PR - Brazil,
  entre os dias 23 a 27 de Julho de 2018.</li>
<li> Agosto/2018 - Organizou o evento: "Um dia na Matemática" juntamente com demais membros do grupo PET - Matemática UFPR</li>
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

