---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<li> Projeto de Iniciação Científica - "Introdução ao estudo de ondas aquáticas".
  <p>Orientador: Prof. Dr. Roberto Ribeiro Santos Junior - UFPR</p>
  <p> Nesse projeto pretendemos entender como alguns conceitos dos cursos de cálculo, física,
    métodos computacionais e equações diferenciais parciais (EDP) podem ser utilizados para
    modelar o movimento das ondas do mar.</p></li>

<li> Projeto individual - "Curvas de Bézier e Polinômios de Bernstein"
  <p>Orientador: Prof. Dr. Qiang Li(李强) - Henan Polytechnic Univesity (河南理工大学)</p>
  <p>Nesse projeto estudamos as propriedades das Curvas de Bézier e suas relações com os polinômios de Bernstein
    à fim de compreender como é realizada implementação de modelagem geométrica computacional.</p></li>

<li> Slines Cúbicas</li>
<p>Orientador: Prof. Abel Siqueira - Universidade Federal do Paraná</p>
<p><u><a href="https://gustavosarturi.github.io/_pages/teaching/Splines___CM103.pdf" target="_blank">Ler projeto</a></u></p>
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

