---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<li> Projeto de Iniciação Científica - "Introdução ao estudo de ondas aquáticas".
  <p>Orientador: Dr. Roberto Ribeiro Santos Junior</p>
  <p> Nesse projeto pretendemos entender como alguns conceitos dos cursos de cálculo, física, métodos computacionais e equações diferenciais parciais (EDP) podem ser utilizados para modelar o movimento das ondas do mar. Com isto propiciamos aos estudantes envolvidos o contato com a pesquisa em Dinâmica dos Fluidos/Ondas Aquáticas.</p></li>
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

