---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<li> Projeto de Iniciação Científica - "Modelagem Matemática das Equações de Euler".
  <p>Orientador: Prof. Dr. Roberto Ribeiro Santos Junior - UFPR</p>
  <p> Nesse projeto pretendemos entender como alguns conceitos dos cursos de cálculo, física,
    métodos computacionais e equações diferenciais parciais (EDP) podem ser utilizados para
    modelar o movimento das ondas do mar.</p>
  <p><u><a href="https://gustavosarturi.github.io/_pages/papers/Modelagem%20Matem%C3%A1tica%20das%20Equa%C3%A7%C3%B5es%20de%20Euler.pdf" target="_blank">Ler projeto</a></u></li>


<li> Projeto individual - "Curvas de Bézier e Polinômios de Bernstein"
  <p>Orientador: Prof. Dr. Qiang Li(李强) - Henan Polytechnic Univesity (河南理工大学)</p>
  <p>Nesse projeto estudamos as propriedades das Curvas de Bézier e suas relações com os polinômios de Bernstein
    à fim de compreender como é realizada implementação de modelagem geométrica computacional.</p></li>

<li> Slines Cúbicas</li>
<p>Orientador: Prof. Abel Siqueira - Universidade Federal do Paraná</p>
<p><u><a href="https://gustavosarturi.github.io/_pages/teaching/Splines___CM103.pdf" target="_blank">Ler projeto</a></u></p>

<li>Métodos Iterativos para Resolução de Sistemas Lineares</li>
<p>Orientador: Prof. Abel Siqueira - Universidade Federal do Paraná</p>
<p><u><a href="https://gustavosarturi.github.io/_pages/papers/SARTURI%20-%20M%C3%A9todos%20Iterativos%20para%20Resolu%C3%A7%C3%A3o%20de%20Sistemas%20Lineares.pdf" target="_blank">Ler Projeto</a></u>
  - <u><a href="https://github.com/gustavosarturi/gustavosarturi/tree/master/Julia/An%C3%A1lise%20Num%C3%A9rica" target="_blank">Códigos</a></u></p>
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

